@import url('StyleGridView.css');
@font-face {
    font-family: 'Gudea-Bold';
    src: url('../../webfonts/Gudea-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gudea-Italic';
    src: url('../../webfonts/Gudea-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Gudea-Regular';
    src: url('../../webfonts/Gudea-Regular.ttf') format('truetype');
}
.MVCxGridViewHeader, .MVCxGridViewHeader td {
    color: #C8C8C8;
    font-family:Gudea-Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 12pt;
    line-height: 22px;
    letter-spacing: -0.02em;
}
.MVCxGridViewHeaderFilter, .MVCxGridViewHeaderFilter td {
/*    background-color: #ffffff;
    color: darkgray;
    font-size: 10pt;
    font-weight: 500;
    font-family: Arial;*/
}
.MVCxGridViewRow, .MVCxGridViewRow td {
    background-color: #ffffff;
    /*color: #545454;*/
    font-family: Gudea-Regular;
    font-style: normal;
    font-weight: 100;
    font-size: 10pt;
    line-height: 22px;
    letter-spacing: -0.02em;
}
.MVCxGridViewRow, .MVCxGridViewRow2 td {
    background-color: #ffffff;
    /*color: #545454;*/
    font-family: Gudea-Regular;
    font-style: normal;
    font-weight: 100;
    font-size: 10pt;
    line-height: 22px;
    letter-spacing: -0.02em;
}
.dxgvInlineEditRow_COYOTE td.dxgv {
    border-bottom: 1px Solid #c0c0c0;
    border-right: 0px Solid #D3D3D3;
}
.dxgvDataRow_COYOTE td.dxgv {
    border-right: 0px Solid #c0c0c0;
    padding: 10px;
    border-bottom: 15px Solid #f5f5f5;
    color: #959595;
}

.dxgvHeader_COYOTE {
    border: 0px Solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}
.dxgvControl_COYOTE {
    border: 0px Solid #c0c0c0;
    border-radius: 0 0 13px 13px;
}
.RowBolder td {
    color: dimgray;
    font-weight: 700 !important;
}
.EditForm .dxeEditAreaSys {
    color: darkgray;
    font-size: 10pt !important;
}
.EditForm .dxflCaptionCellSys {
    color: darkgray;
    font-size: 10pt !important;
}
.MVCxGridViewTable
{
    border-radius:5px !important;
}
.dxgvControl_Metropolis
{
    border-radius:5px !important;
}
.dxbDisabled_Metropolis {
    cursor: not-allowed !important;
    opacity: 0.4;
}
.dxbButton_Metropolis{
    /*border:0px;*/
    /*padding:0px !important;*/
}
.dxbButton_Metropolis span {
    /*display: none !important;*/
}
.dxgvFocusedRow_COYOTE{ color: #3B95E5 !important;    
}
.ddeDisabled .dxeEditAreaSys {
    background-color: #E1DFDF;
    color: dimgray;
}
.ddeDisabled .dxeButton {
    background-color: #E1DFDF;
}
.ddeDisabled .dxic {
    background-color: #E1DFDF;
}
.dxmLite_COYOTE .dxm-popup {
    color: gray;
    font-family: Gudea-Regular;
    font-style: normal;
    font-weight: 100;
    font-size: 12pt;
    background-color: white;
    border: 1px solid #c0c0c0;
    padding: 10px;
    border-radius: 13px;
}
.dxgvInlineEditCell_COYOTE .dxeTextBox_COYOTE {
    padding-left: 0px !important;
}
.dxgvInlineEditCell_COYOTE .dxeButtonEditButton_COYOTE {
    background-color: #dfedf7;
}
.dxgvInlineEditCell_COYOTE input[type="text"].dxeEditAreaSys {
    padding-left: 0px !important;
    margin: 0px;
    width: 100%;
    font-size: 10pt !important;
    background-color: #edf0f3;
}
.dxgvInlineEditCell_COYOTE .dxpc-mainDiv {
    left: -10% !important;
    border-radius:0px !important;
}
.dxeButtonEdit_COYOTE {
    border: 0px solid !important;
    background-color: #dfedf7;
}
.dxgvInlineEditRow_COYOTE {
    background-color: #dfedf7;
}
.dxgvControl_COYOTE .gridTutorial {
    background-color: transparent;
}
.dxgvControl_COYOTE.gridTutorial {
    background-color: transparent;
}
.Table_gridTutorial {
    background-color: transparent;
    text-align: center;
}
.Header_gridTutorial {
    background-color: transparent;    
    text-align:center;
}
    .Header_gridTutorial td
    {
        font-family: Gudea-Regular;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.02em;
        color: #959595;
    }
.Row_gridTutorial > tbody > tr > td {
    font-family: Gudea-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #959595;
}
.Row_gridTutorial {
    margin: 0.5% auto;
    background-color: white;
    border-radius: 13px;
}
    .Row_gridTutorial > tbody > tr {
        margin: 10px 0px;
        padding: 10px 0px;
        height: 55px;
    }
a > i.fas.fa-trash-alt {
    color: #C8C8C8;
}
    a > i.fas.fa-trash-alt:hover {
        color: #D84D4D;
    }

a > i.fas.fa-pen {
    color: #C8C8C8;
}
    a > i.fas.fa-pen:hover {
        color: #3B95E5;
    }

a > i.disabled {
    color: #D9D9D9 !important;
}
.dxgvHeader_COYOTE.Header_gridTutorial {
    border: 0px Solid #c0c0c0;
    border-bottom: 0px solid #c0c0c0;
}
.linkRow_Tutorial {
    text-decoration: none !important;
}
    .linkRow_Tutorial:hover {
        background-color: #959595 !important;
    }