.menuItem_control {
    font-family: Gudea-Regular;
    font-style: normal;
    letter-spacing: -0.02em;
    color: #959595 !important;
    font-size: 12pt;
    background-color: transparent !important;
    border: 1px solid #e1e1e1;
    border-radius: 13px;
}
.menuItem_0 {
    margin: 1vh 1vh 3vh 1vh;
}
    .menuItem_0:hover, .menuItem_0.dxm-hovered {
        color: #3B95E5 !important;
        font-weight: 400;
        border-radius: 5px;
        background-color: white;
    }
    .menuItem_0 .dxm-popup {
        color: #3B95E5 !important;
        font-weight: 400;
        border-radius: 5px;
        border: 1px solid #e1e1e1;
        background-color: white;
    }