
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coyote Contracts - Nesta</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/login_style.css" rel="stylesheet" />
    <link href="~/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/css/all.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery-3.5.1.js"></script>
    <script src="~/lib/jquery/jquery-ui.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/login/login.js"></script>


</head>
<body>

    <div id="dvLoading">
        <img src="/img/spinner-loading-2.svg" alt="" style="left: 40%;top: 30%;position: absolute;width: 15%;z-index: 99999999999999 !important;" />
    </div>
    <!-- MODAL - SUCCESS -->
    <div class="modal fade" id="myModal" style="z-index:999999999999999999999999999 !important" role="dialog">
        <div class="modal-dialog ">

            <div id="dvModalSuccess" style="display:none;border-radius: 32px;padding: 15px;" class="modal-content popupAlertaFeedback">
                <div class="modal-header border-0 p-0 pr-2">
                    <button type="button" class="close text-white"
                            style="z-index: 99999999999999999999999;color:#c8c8c8;position: absolute;top: 15%;right: 7%;cursor:pointer;"
                            data-dismiss="modal">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-3">
                            <i class="fas fa-check-circle sucesso" style="margin-top:unset !important"></i>
                        </div>
                        <div class="col-9" style="padding-top: 8px;">
                            <p id="dvModalTitleSuccess" class="popupAlertaFeedback" style="font-size: 30px; font-weight: bold;margin-bottom: 16px;">
                                @WebNesta.Coyote.Web.App_GlobalResources.GlobalResource.ResourceManager.GetString("alert_success") !
                            </p>
                            <p id="dvModalMessageSuccess" class="popupAlertaFeedback"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="dvModalError" style="display:none;border-radius: 32px;" class="modal-content popupAlertaFeedback erro">
                <div class="modal-header border-0 p-0 pr-2">
                    <button type="button" class="close text-white"
                            style="z-index: 99999999999999999999999;color:#c8c8c8;position: absolute;top: 15%;right: 7%;cursor:pointer;"
                            data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-3">
                            <i class="fas fa-times-circle erro" style="margin-top:unset !important"></i>
                        </div>
                        <div class="col-9" style="padding-top: 8px;">
                            <p id="dvModalTitleError" class="popupAlertaFeedback" style="font-size: 30px; font-weight: bold;margin-bottom: 16px;">Oops</p>
                            <p id="dvModalMessageError" class="popupAlertaFeedback"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- FIM - MODAL - SUCCESS -->
    <!-- INICIO - MODAL - RECOVERY PASSWORD -->
    <div class="modal fade modal-recuperacao-senha" id="modalRecoveryPassword" style="z-index:999999 !important;width: 125%;" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content popupRecoveryPassword" style="width:952px;height:560px">

                <div class="modal-header border-0 p-0 pr-2">
                    <button type="button" class="close" data-dismiss="modal" style="z-index: 99999999999999999999999;color:#c8c8c8;position: absolute;top: 5%;right: 7%;cursor:pointer;">&times;</button>
                </div>
                <div class="modal-body" style="top: -1vh;left: 0;padding: 50px; padding-top: 85px;  padding-bottom: 60px;">
                    <div class="row">
                        <div class="col-12">
                            <p class="titulo" style="text-align:center">
                                @*style="text-align:center;font-family:'Gudea-Regular';font-size: 30px; font-weight: bold;"*@
                                Recuperação de senha
                            </p>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <p class="popupRecoveryPasswordDescription" style=" font-family: 'Gudea-Regular';width:100%;padding-top: 0%;padding-bottom: 0%;margin-top: 5%;">
                                Insira seu e-mail para a <br />recuperar sua senha:
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-c1" style="margin-top: 3%;width: 35%;">
                             <div class="c-left">
                                <label>Email:</label>
                            </div>
                            <div class="c-right">
                                <div class="dxeTextBoxSys dxeTextBox_COYOTE dxeTextBoxDefaultWidthSys" style="border: none !important;">
                                    <div class="dxic" style="border: none !important;width:100%;">
                                        <input type="text" id="txtEmailRecuperarSenha" class="dxeEditArea_COYOTE dxeEditAreaSys" style="border: none !important;" placeholder=" Clique Aqui" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center" style="margin-top: 3%;">

                            <input type="button" class="btn_login text-center" name="btnRecuperarSenha" value="Recuperar" id="btnRecuperarSenha" />
                            <input type="button" class="btn_login text-center" style="margin-left: 24px;" name="btnCancelarRecuperarSenha" value="Cancelar" id="btnCancelarRecuperarSenha" />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIM - MODAL - RECOVERY PASSWORD -->
    <!-- INICIO - MODAL - TUTORIAL -->
    <div class="modal fade modal-tutorial" id="modalTutorial" style="z-index:999999 !important" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content popupRecoveryPassword" style="width:1020px;height:auto">

                <div class="modal-header border-0 p-0 pr-2">
                    <button type="button" class="close" style="z-index: 99999999999999999999999;color:#c8c8c8;position: absolute;top: 5%;right: 7%;cursor:pointer;" data-dismiss="modal">
                        &times;
                    </button>
                </div>
                <div class="modal-body" style="top: -1vh;left: 0;padding: 50px; padding-top: 70px;padding-bottom: 60px;">
                    @*<div class="row">*@
                    <div class="col-12">
                        <p id="popupTutorialTitle" class="popupRecoveryPassword"
                           style="font-size: 30px; font-weight: bold;text-align:left">
                            Guia Rápido - Login
                        </p>
                    </div>

                    <div class="col-12" style="padding-right: 0px;padding-left: 0px;">

                        <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light">

                            <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="border-bottom: 1px solid rgba(0,0,0,.1);">
                                <div class="navbar-nav float-lg-right">
                                    <div style="width: 730px;"></div>
                                    @*  <a class="nav-item nav-link" style="border-bottom: 2px solid rgba(0,0,0,.1);width:40px !important;text-align:center;" href="#">1</a>
                                    <a class="nav-item nav-link" style="border-bottom: 2px solid rgba(0,0,0,.1);width:40px !important;text-align:center;" href="#">2</a>
                                    <a class="nav-item nav-link" style="border-bottom: 2px solid rgba(0,0,0,.1);width:40px !important;text-align:center;" href="#">3</a>
                                    <a class="nav-item nav-link" style="border-bottom: 2px solid rgba(0,0,0,.1);width:40px !important;text-align:center;" href="#">4</a>*@
                                </div>
                            </div>
                        </nav>
                    </div>

                    @*</div>*@
                    <div class="container">
                        <div id="dvContentTutorial" class="row"></div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- FIM - MODAL - RECOVERY PASSWORD -->
    @*    Html.DevExpress().PopupControl(settings =>
    {
    settings.Name = "popupTutorial";
    settings.Theme = "COYOTE";
    settings.PopupElementID = "ajudaLogin";
    settings.ControlStyle.CssClass = "popupTutorial";
    settings.AllowResize = false;
    settings.ShowHeader = false;
    settings.ShowOnPageLoad = false;
    settings.AllowDragging = true;
    settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
    settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
    settings.CloseAction = CloseAction.OuterMouseClick;
    settings.CloseOnEscape = false;
    settings.Modal = false;
    settings.Width = Unit.Pixel(800);
    settings.SetContent(() =>
    {
    ViewContext.Writer.Write("<div>" + @Html.Partial("_popupTutorialConteudoPartial") + "</div>");
    });
    }).GetHtml()
    *@
    <div id="dvPageVersion" class="appVersionLogin"></div>
    <div class="container-fluid">
        <div class="row px-5 pt-4 pb-5">
            <div class="col-6 esq">
                <div class="logo"><img src="~/img/logo_login.png" style="height:60vh" /></div>
                <footer>
                    <p class="mb-1">Todos os direitos reservados para Somnium Tecnologia S. A.</p>
                    <span><a href="https://www.webnesta.com/" target="_blank">webnesta.com</a></span> <br />
                    <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                </footer>
            </div>
            <div class="col-6 dir">@RenderBody()</div>

        </div>

    </div>
    @*if (ViewBag.JavaScriptFunction != null)
    {
    <script type="text/javascript">
    @Html.Raw(ViewBag.JavaScriptFunction)
    </script>
    }*@
</body>
</html>
