.avatar {
    position: relative;
    width: 13% !important;
}
img.avatar-home {
    position: absolute;
    vertical-align: middle;
    width: 121px;
    height: 121px;
    border-radius: 50%;
}
div.avatar-home {
    background-color: white;
    position: absolute;
    right: 0;
    bottom: -50%;
    padding: 8px 13px;
    border-radius: 30px;
}
i.avatar-home {
    color: #6DB0ED;
}
