@import url('StyleGridView.css');

@font-face {
    font-family: 'Gudea-Bold';
    src: url('../../webfonts/Gudea-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gudea-Italic';
    src: url('../../webfonts/Gudea-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Gudea-Regular';
    src: url('../../webfonts/Gudea-Regular.ttf') format('truetype');
}

.MVCxGridViewHeader, .MVCxGridViewHeader td {
    color: #C8C8C8;
    font-family: Gudea-Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 12pt;
    line-height: 22px;
    letter-spacing: -0.02em;
}

.MVCxGridViewHeaderFilter, .MVCxGridViewHeaderFilter td {
    /*    background-color: #ffffff;
    color: darkgray;
    font-size: 10pt;
    font-weight: 500;
    font-family: Arial;*/
}

.MVCxGridViewRow, .MVCxGridViewRow td {
    background-color: #ffffff;
    /*color: #545454;*/
    font-family: Gudea-Regular;
    font-style: normal;
    font-weight: 100;
    font-size: 10pt;
    line-height: 22px;
    letter-spacing: -0.02em;
}

.MVCxGridViewRow, .MVCxGridViewRow2 td {
    background-color: #ffffff;
    /*color: #545454;*/
    font-family: Gudea-Regular;
    font-style: normal;
    font-weight: 100;
    font-size: 10pt;
    line-height: 22px;
    letter-spacing: -0.02em;
}

.dxgvInlineEditRow_COYOTE td.dxgv {
    border-bottom: 1px Solid #c0c0c0;
    border-right: 0px Solid #D3D3D3;
}

.dxgvDataRow_COYOTE td.dxgv {
    border-right: 0px Solid #c0c0c0;
    /*padding: 10px;*/
    /*border-bottom: 15px Solid #f5f5f5;*/
    /*color: #959595;*/
}

.dxgvDataRow_COYOTE tr.dxgv {
    /*color: #D84D4D !important;*/
}

.dxgvHeader_COYOTE {
    border: 0px Solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}

.dxgvControl_COYOTE {
    border: 0px Solid #c0c0c0;
    border-radius: 0 0 13px 13px;
}

.RowBolder td {
    color: dimgray;
    font-weight: 700 !important;
}

.EditForm .dxeEditAreaSys {
    color: darkgray;
    font-size: 10pt !important;
}

.EditForm .dxflCaptionCellSys {
    color: darkgray;
    font-size: 10pt !important;
}

.MVCxGridViewTable {
    border-radius: 5px !important;
}

.dxgvControl_Metropolis {
    border-radius: 5px !important;
}

.dxbDisabled_Metropolis {
    cursor: not-allowed !important;
    opacity: 0.4;
}

.dxbButton_Metropolis {
    /*border:0px;*/
    /*padding:0px !important;*/
}

    .dxbButton_Metropolis span {
        /*display: none !important;*/
    }

.dxgvFocusedRow_COYOTE {
    color: #fff !important;
}

.ddeDisabled .dxeEditAreaSys {
    background-color: #E1DFDF;
    color: dimgray;
}

.ddeDisabled .dxeButton {
    background-color: #E1DFDF;
}

.ddeDisabled .dxic {
    background-color: #E1DFDF;
}

.dxmLite_COYOTE .dxm-popup {
    margin-top: 1.3vh;
    color: gray;
    background-color: white;
    padding: 0 0 1vh 0;
    border-radius: 0 0 1vh 1vh;
    border: none;
    box-shadow: 0px 12px 35px -15px rgb(55 77 98 / 30%);
}

.dxgvInlineEditCell_COYOTE .dxeTextBox_COYOTE {
    padding-left: 0px !important;
}

.dxgvInlineEditCell_COYOTE .dxeButtonEditButton_COYOTE {
    background-color: #dfedf7;
}

.dxgvInlineEditCell_COYOTE input[type="text"].dxeEditAreaSys {
    padding-left: 0px !important;
    margin: 0px;
    width: 100%;
    font-size: 10pt !important;
    background-color: #edf0f3;
}

.dxgvInlineEditCell_COYOTE .dxpc-mainDiv {
    left: -10% !important;
    border-radius: 0px !important;
}

.dxeButtonEdit_COYOTE {
    border: 0px solid !important;
    background-color: #dfedf7;
}

.dxgvInlineEditRow_COYOTE {
    background-color: #dfedf7;
}

.dxgvControl_COYOTE .gridTutorial {
    background-color: transparent;
}

.dxgvControl_COYOTE.gridTutorial {
    background-color: transparent;
}

.dxgvDataRow_COYOTE tr {
    /*color: #D84D4D !important;*/
}

.Table_gridNotify tr {
    /*background: #3B95E5 !important;*/
    /*border: 1px solid #3B95E5;*/
    /*border-radius: 30px !important;*/
}

.dxgv i {
    font-size: 15px;
}

.Table_gridTutorial {
    background-color: transparent;
    text-align: center;
}

.Header_gridTutorial {
    background-color: transparent;
    text-align: center;
}

    .Header_gridTutorial td {
        font-family: Gudea-Regular;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.02em;
        color: #959595;
    }

.Row_gridTutorial > tbody > tr > td {
    font-family: Gudea-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #959595;
}

.Row_gridTutorial {
    margin: 0.5% auto;
    background-color: white;
    border-radius: 13px;
}

    .Row_gridTutorial > tbody > tr {
        margin: 10px 0px;
        padding: 10px 0px;
        height: 55px;
    }
    .Row_gridTutorial a.disabled {
        opacity: 0.40 !important;
    }
.times-widget {
    color: #C8C8C8;
}

    .times-widget:hover {
        color: #D84D4D;
    }

/*a > i.fas.fa-trash-alt {
    color: #C8C8C8;
}

    a > i.fas.fa-trash-alt:hover {
        color: #D84D4D;
    }

a > i.fas.fa-pen {
    color: #C8C8C8;
}

    a > i.fas.fa-pen:hover {
        color: #3B95E5;
    }*/

a > i.disabled {
    color: #D9D9D9 !important;
}

.dxgvHeader_COYOTE.Header_gridTutorial {
    border: 0px Solid #c0c0c0;
    border-bottom: 0px solid #c0c0c0;
}
.linkRow_Tutorial {
    text-decoration: none !important;
}

    .linkRow_Tutorial:hover {
        background-color: #959595 !important;
    }

.table-head {
    font-weight: bold;
    font-size: 12px;
    color: #959595;
}

.table-line {
    color: #959595;
}

    .table-line:hover {
        color: #3B95E5 !important;
    }

    .table-line:hover i {
        color: #3B95E5 !important;
    }
    .table-line p {
        line-height: 48px;
        cursor: default;
    }
.grid_avatar {
    width: 6vh;
    border-radius: 50px;
    border: 3px solid white;
    background-color: transparent;
    margin-right: 10px;
}

.grid_iniciais {
    width: 6vh;
    border-radius: 50px;
    border: 3px solid white;
    background-color: transparent;
    height: 6vh;
    margin-right: 10px;
}

    .grid_iniciais span {
        color: white;
        font-size: 20px;
        height: 7vh;
        width: 7vh;
        line-height: 5.5vh;
    }
.dxgvControl_COYOTE .gridAddContact {
    background-color: transparent;
}
.dxgvControl_COYOTE.gridAddContact {
    background-color: transparent;
}
.dxgvHeader_COYOTE.Header_gridAddContact {
    border: 0px Solid #c0c0c0;
    border-bottom: 0px solid #c0c0c0;
}
.Table_gridAddContact {
    background-color: transparent;
    text-align: center;
}

.Header_gridAddContact {
    background-color: transparent;
    text-align: center;
}

    .Header_gridAddContact td {
        font-family: Gudea-Regular;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.02em;
        color: #fff;
    }

.Row_gridAddContact > tbody > tr > td {
    font-family: Gudea-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #959595;
}

.Row_gridAddContact {
    margin: 0.5% auto;
    /*border-radius: 13px;*/
    font-family: Gudea-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #959595;
    margin: 10px 0px;
    padding: 10px 0px;
    height: 55px;
}

.Row_gridAddContact_row.img {
    background-color: transparent;
}

.Row_gridAddContact_row {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

    .Row_gridAddContact_row.first {
        background-color: white;
        border-top-left-radius: 13px;
        border-bottom-left-radius: 13px;
    }

    .Row_gridAddContact_row.last {
        background-color: white;
        border-top-right-radius: 13px;
        border-bottom-right-radius: 13px;
        padding-right: 20px;
    }

.Row_gridAddContact > tbody > tr {
    margin: 10px 0px;
    padding: 10px 0px;
    height: 55px;
}

.Row_gridAddContact_row i {
    color: #959595;
}

    .Row_gridAddContact_row i:hover {
        color: #3B95E5;
    }

.gridPadrao {
    background-color: unset;
}

.Table_gridPadrao {
    background-color: transparent;
    padding-top: 0px;
    padding-bottom: 0px;
}

.Table_gridPadrao tbody tr td{
    background-color: whitesmoke;
}

.Header_gridPadrao {
    text-align: center;
}

    .Header_gridPadrao td {
        font-family: Gudea-Regular;
        font-style: normal;
        font-weight: bold;
        font-size: 8pt;
        line-height: 22px;
        letter-spacing: -0.02em;
        color: #959595;
    }

/*.Row_gridPadrao > tbody > tr > td {
    font-family: Gudea-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #959595;
}*/

.Row_gridPadrao {
    margin: 0.5% auto;
    /*border-radius: 13px;*/
    font-family: Gudea-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #959595;
    margin: 5px 0px;
    padding: 10px 0px;
    height: 55px;
}
    .Row_gridPadrao:hover {
        color: #3B95E5;
    }
    /*    .Row_gridPadrao > tbody > tr {
        margin: 10px 0px;
        padding: 10px 0px;
        height: 55px;
    }*/

    .Row_gridPadrao_row {
        background-color: white !important;
        font-size: 16px;
    }

        .Row_gridPadrao_row.row_red {
            background-color: #d9534f !important;
            color: lightgray;
        }

.Row_gridPadrao_row_first {
    background-color: white !important;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    font-size: 16px;
    padding-left: 3vh;
}

    .Row_gridPadrao_row_first.row_red {
        background-color: #d9534f !important;
        color: lightgray;
    }

    .Row_gridPadrao_row_last {
        background-color: white !important;
        border-top-right-radius: 13px;
        border-bottom-right-radius: 13px;
        font-size: 8pt;
    }
        .Row_gridPadrao_row_last.row_red {
            background-color: #d9534f !important;
            color: lightgray;
        }

.Header_gridPadrao {
    text-align: center;
}

    .Header_gridPadrao td {
        font-family: Gudea-Regular;
        font-style: normal;
        font-weight: bold;
        font-size: 8pt;
        line-height: 22px;
        letter-spacing: -0.02em;
        color: #959595;
    }

/*.Row_gridPadrao > tbody > tr > td {
    font-family: Gudea-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #959595;
}*/

.Row_gridPadrao {
    margin: 0.5% auto;
    /*border-radius: 13px;*/
    font-family: Gudea-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #959595;
    margin: 5px 0px;
    padding: 10px 0px;
    height: 55px;
}
    .Row_gridPadrao:hover {
        color: #3B95E5;
    }
    /*    .Row_gridPadrao > tbody > tr {
        margin: 10px 0px;
        padding: 10px 0px;
        height: 55px;
    }*/

    .Row_gridPadrao_row {
        background-color: white !important;
        font-size: 11px;
    }

        .Row_gridPadrao_row.row_red {
            background-color: #d9534f !important;
            color: lightgray;
        }

.Row_gridPadrao_row_first {
    background-color: white !important;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    font-size: 11px;
    padding-left: 1.6vh;
}

    .Row_gridPadrao_row_first.row_red {
        background-color: #d9534f !important;
        color: lightgray;
    }

    .Row_gridPadrao_row_last {
        background-color: white !important;
        border-top-right-radius: 13px;
        border-bottom-right-radius: 13px;
        font-size: 8pt;
    }
        .Row_gridPadrao_row_last.row_red {
            background-color: #d9534f !important;
            color: lightgray;
        }

/*------------------------VARIAÇÃO da gridPadrao----------------------------*/

.gridAlt {
    background-color: unset;
}

.Table_gridAlt {
    background-color: transparent;
    padding-top: 0px;
    padding-bottom: 0px;
}

    .Table_gridAlt tbody tr td {
        background-color: transparent;
    }

.Header_gridAlt {
    text-align: center;
}

    .Header_gridAlt td {
        font-family: Gudea-Regular;
        font-style: normal;
        font-weight: bold;
        line-height: 22px;
        letter-spacing: -0.02em;
        text-align: left;
    }

.Row_gridAlt {
    font-family: Gudea-Regular;
    font-style: normal;
    font-weight: normal;
    line-height: 17px;
    letter-spacing: -0.02em;
    height: 4vh;
    border-top: 1px solid #e1e1e18f;
    color: #959595;
}

    .Row_gridAlt:hover {
        color: #3B95E5 !important;
    }

/*-------------------------VARIAÇÃO da gridPadrao END---------------------------*/

.c-right .dxeButtonEdit_COYOTE
{
    background-color:unset;
}

.tutorial-list-box {
    max-height: 72vh;
}

<<<<<<< Updated upstream
=======
.dxmLite_COYOTE .dxm-horizontal .dxm-image-l .dxm-content, .dxmLite_COYOTE .dxm-horizontal .dxm-image-r .dxm-content {
    border: 1px solid #C8C8C8;
    background: rgba(0, 0, 0, 0);
    height: 50px;
    border-radius: 1vh;
    margin: 0 1vh;
}

.dxmLite_COYOTE .dxm-main .dxm-hovered {
    background: none;
}

/*span.dx-vam, span.dx-vat, span.dx-vab, a.dx-vam, a.dx-vat, a.dx-vab {
    line-height: 100%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: relative;
    padding: 0 2vh;*/
    /*color: #3B95E5;*/
    /*font-size: 11pt;
}*/

.dxmLite_COYOTE .dxm-popup span {
    font-size: 9pt;
    /*color: #959595;*/
    padding: 1vh;
}

.dxgvControl_COYOTE, .dxgvDisabled_COYOTE {
    background-color: transparent !important;
}

.dxmLite_COYOTE .dxm-popup span:hover {
    color: #fff !important;
}

.dxmLite_COYOTE .dxm-main {
    background: rgba(0, 0, 0, 0);
}

.dxm-separator {
    display: none !important;
}

.about-table {
    padding: 3vh 3vh 0 4vh;
}

.updt-table {
    overflow: auto;
    padding: 0vh 2vh 2vh 2vh;
}

#gridHistAditamentos_tcEmptyRow {
    padding: 0 !important;
}

/* TESTE TABELA NOVA */
.coyote-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
    cursor: default;
}

    .coyote-table td {
        padding: 10px 15px;
        font-weight: 100;
    }

    .coyote-table tr {
        border-bottom: 1px solid #dddddd;
    }

        .coyote-table tr:nth-of-type(even) {
            background-color: #EDEDEF;
        }

        .coyote-table tr:last-of-type {
            border-bottom: 2px solid #82BBEF;
        }

        .coyote-table tr:hover {
            color: #3B95E5;
        }

.coyote-thead tr {
    background-color: #82BBEF;
    color: #fff;
    text-align: left;
}

/*----------------Para telas de até 768px de altura na resolução-----------------*/
@media only screen and (max-height: 768px) {
    .tutorial-list-box {
        max-height: 67vh;
    }

    .Row_gridPadrao_row_first {
        font-size: 13px;
    }

    .Row_gridPadrao_row {
        font-size: 13px;
    }

    .Row_gridTutorial > tbody > tr > td {
        font-size: 13px;
    }

    .about-table {
        padding: 3vh 4.3vh 0 4.8vh;
    }

    .updt-table {
        padding: 0vh 2.3vh 2vh 2.3vh;
    }

    .dxmLite_COYOTE .dxm-popup {
        margin-top: 1.9vh;
    }
}

/*-------------------Para telas de até 1024px de largura na resolução---------------------*/
@media only screen and (max-width: 1024px) {
    .Row_gridTutorial > tbody > tr > td {
        font-size: 12px;
    }

    .Row_gridPadrao_row_first {
        font-size: 11px;
    }

    .Row_gridPadrao_row {
        font-size: 11px;
    }

    .Row_gridTutorial > tbody > tr > td {
        font-size: 11px;
    }
}
.Row_gridTutorial.row_disabled {
    background-color: #db8d8dc7;
    color: black !important;
}
    .Row_gridTutorial.row_disabled > tbody > tr > td, .Row_gridTutorial.row_disabled > tbody > tr > td > a > .font-hover-blue {
        color: #777272 !important;
    }
        .Row_gridTutorial.row_disabled > tbody > tr > td > a > .font-hover-blue:hover {
            color: #3B95E5 !important
        }