<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="devextreme-controls-netcore" value="C:\Users\Public\Documents\DevExpress Demos 20.1\DevExtreme\ASP.NET MVC Controls\DevAV\NuGet" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="devextreme-controls-netcore-2" value="E:\DevExpress 20.1\Components\System\Components\packages" />
  </packageSources>
</configuration>
