
@font-face {
    font-family: 'Myriad_Web_Pro';
    src: url('../../webfonts/Myriad_Web_Pro.ttf') format('truetype');
}
.dxic {
    padding-top: 1px !important;
    padding-bottom: 0px !important;
}
.col-c1 > .c-right > .dxeButtonEdit_COYOTE, .col-c2 > .c-right > .dxeButtonEdit_COYOTE, .col-c3 > .c-right > .dxeButtonEdit_COYOTE {
    border-radius: 5px;
    border: 1px solid;
    border-color: #669999;
    background-color: transparent !important;
    color: #5D5D5D !important;
    border-bottom: 1px solid transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin: auto 0;
    width: 100%;
    font-family: Gudea-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
}
.dxeTextBox_COYOTE, .dxeValidDynEditorTable, .dxeRoot_COYOTE {
    color: #C8C8C8 !important;
    font-family: Gudea-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
    width: 80%;
    border: 0px;
    background-color: transparent;
/*    display: flex;
    justify-content: flex-end;*/
    position: relative;
}
.dxeValidDynEditorTable {
    width: none !important;
}
.dxeMemo_COYOTE {
    color: #C8C8C8 !important;
    font-family: Gudea-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
    width: 100%;
    border: 0px;
    background-color: transparent;
    /*padding-left: 200px;*/
}
.dxeDisabled_COYOTE:not(.cursor-not) {
    color: #C8C8C8 !important;
    font-family: Gudea-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 12pt;
    line-height: 22px;
    letter-spacing: -0.02em;
    width: 100%;
    border: 0px;
    background-color: transparent;
}
    .dxeDisabled_COYOTE input[type="text"].dxeEditAreaSys {
        font-size: 12pt !important;
        color: #C8C8C8 !important;
    }
    .dxeDisabled_COYOTE .dxeListBoxItem_Metropolis {
        font-size: 18px !important;
        color: #C8C8C8 !important;
    }
input[type="text"].dxeEditAreaSys {
    font-family: Gudea-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 12pt !important;
    line-height: 22px;
    letter-spacing: -0.02em;
    /*text-align: right;*/
}

.text-right input[type="text"].dxeEditAreaSys {
    text-align: right !important;
}

textarea.dxeMemoEditAreaSys {
    font-family: Gudea-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 12pt !important;
    line-height: 22px;
    letter-spacing: -0.02em;
    /*color: #5D5D5D !important;*/
    text-align: right;
    padding-left: 30% !important;
    width: 70%;
}
.dxeListBoxItem_COYOTE {
    font-size: 10pt !important;
    color: #5D5D5D !important;
    text-align: right;
    padding-right: 20px;
    /*border-radius: 13px 13px 13px 13px;*/
}
.dxeListBoxItemHover_COYOTE {
    background-color: #6DB0ED;
    color: #FFFFFF !important;
}
.dxeListBoxItemSelected_COYOTE {
    color: White !important;
    background-color: #6DB0ED !important;
}
.dxeButtonEditButtonHover_COYOTE {
    background-color: transparent !important;
}
.dxpcDropDown_COYOTE {
    width: 100% !important;
    left:0px !important;
}
.dxpc-ddSys .dxpc-mainDiv, .dxpc-ddSys.dxpc-mainDiv {
    box-shadow: 0px 12px 35px -15px rgba(55, 77, 98, 0.25);
    border-radius: 0px 0px 13px 13px;
}
.dxpc-shadow {
    -webkit-box-shadow: none;    
    box-shadow: none; 
    border-collapse: separate;
}
.dxeListBox_COYOTE {
    border: 2px solid transparent;
    border-radius: 0px 0px 13px 13px;
    width: 100%;
    padding-bottom: 1vh;
}
.DateEdit {
    margin-top: 2px;
    /*    border-radius: 5px;
    border: 1px solid;
    border-color: #669999;*/
    background-color: transparent !important;
    color: dimgray !important;
    border-bottom: 1px solid #4b9e6c;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.dxeReadOnly_Metropolis input {
    color: #c0c0c0 !important;
}
.TextBox + .dxeDisabled_Metropolis {
    border-bottom: 1px solid #4b9e6c !important;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
}
.TextBox + .dxeReadOnly_Metropolis {
    border-bottom: 1px solid #4b9e6c !important;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
}
.dxeEditArea_Metropolis {
    background-color: transparent !important;
}


/*--------DATEPICK STYLE----------*/

.dxeCalendar_COYOTE{
    border:1px solid transparent !important;
    margin:5px auto 0 auto;
}
.dxeCalendarHeader_COYOTE span {
    padding: 0 16px;
    white-space: nowrap !important;
    color: #3B95E5;
    font-size: 12pt;
    padding: 4px 17px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
    font-family: 'Gudea-Regular';
}
.dxeCalendarFooter_COYOTE {
    border-bottom: 1px solid transparent !important;
}
.dxMonthGridWithWeekNumbers {
    padding: 15px 15px 5px !important;
    color: #7B7B7B;
    font-size: 10pt;
}
.dxeCalendarWeekend_COYOTE {
    color: #6DB0ED;
}
.dxeCalendarDayHeader_COYOTE  {
    display: none;
}
.dxeCalendarWeekNumber_COYOTE{
    display:none;
}
.dxeCalendarDay_COYOTE.dxeCalendarToday_COYOTE {
    box-shadow: inset 0 0 0 0px #b8b8b8;
}
.dxeCalendarHover_COYOTE {
    background: #6DB0ED;
    border-radius: 5px;
}
.dxeCalendarDay_COYOTE.dxeCalendarSelected_COYOTE {
    background-color: #6DB0ED;
    color: white;
    border-radius: 5px;
}
.dxeCalendarButton_COYOTE {
    font-size: 13pt;
    border: 1px solid transparent;
    padding: 3px 11px 4px;
    min-width: 37px;
    text-align: center;
    white-space: nowrap;
    color: #3B95E5;
    text-transform: uppercase;
    font-family: 'Gudea-Regular';
    font-style: normal;
    font-weight: bold;
}
.dxeCalendarButtonHover_COYOTE {
    background: #6DB0ED;
    color: white;
    border-radius: 5px;
}
.dxeCalendarFastNavItem_COYOTE {
    background-color: white;
    outline: 1px white solid;
    font-size: 10pt;
    border-radius: 5px;
}
.dxeCalendarDay_COYOTE {
    font-size: 10pt;
}
    /*--------DATEPICK STYLE----------*/
    .TextBox {
    margin-top: 2px;
    /*    border-radius: 5px;
    border: 1px solid;
    border-color: #669999;*/
    background-color: transparent !important;
    color: #949494 !important;
    border-bottom: 1px solid #4b9e6c;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.dxpnlControl_MaterialCompact {
    color: #666666;
    font-weight: 100 !important;
    font-family: 'Myriad_Web_Pro';
}
.popupMSGbox1 {
    position: fixed !important;
    top: 5px !important;
    left: 30% !important;
    background-color: #f59696a3 !important;
    width: 500px;
}
.popupMSGbox2 {
    position: fixed !important;
    top: 5px !important;
    left: 30% !important;
    background-color: #70e3f5a3 !important;
    width: 500px;
}
.popupMSGboxTexto1 {
    color: whitesmoke;
    margin: auto;
}
.popupMSGboxTexto2 {
    color: #260fa1;
    margin: auto;
}
.popupPes {
    left: 5% !important;
    z-index: 100;
    box-shadow: 0px 12px 35px -10px rgb(55 77 98 / 40%);
    border-radius: 0 0 20px 20px;
    padding: 20px;
    border: 0px solid silver !important;
}

.popupAcoes {
    left: 27% !important;
    z-index: 100;
    box-shadow: 0px 12px 35px -10px rgb(55 77 98 / 40%);
    border-radius: 20px;
    padding: 20px;
    border: 0px solid silver !important;
}
.popupViewContrato {
    margin: 2vh;
    z-index: 100 !important;
    box-shadow: 0px 12px 35px -10px rgb(55 77 98 / 40%);
    border-radius: 20px;
    padding: 20px;
    border: 0px solid silver !important;
    height: 96vh;
}
.popupLogSys {
    z-index: 100;
    box-shadow: 0px 12px 35px -10px rgb(55 77 98 / 40%);
    border-radius: 20px;
    padding: 20px;
    border: 0px solid silver !important;
}
.popupListaContatos {
    z-index: 100;
    box-shadow: 0px 12px 35px -10px rgb(55 77 98 / 40%);
    border-radius: 20px;
    padding: 20px;
    border: 0px solid silver !important;
}
.popupLinks {
    left: 27% !important;
    z-index: 100;
    box-shadow: 0px 12px 35px -10px rgb(55 77 98 / 80%);
    border-radius: 25px;
    padding: 20px;
    border: 0px solid silver !important;
    padding: 10px 25px;
    text-align: center;
    background-color: #3B95E5 !important;
    background-image: url(../../img/back_top.png),url(../../img/back_bottom.png);
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 400px,400px;
}

.site {
    margin-bottom: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid rgb(255 255 255 / 40%);
}

.popupLinks li {
    list-style: none;
    color: #fff;
    font-size: 25px;
}

    .popupLinks ul {
        padding: 0rem 1.2rem 0rem 1.2rem;
    }

    .popupLinks i {
        padding: 0.6rem 0rem 0rem 0rem;
        color: #fff;
        font-size: 15px;
        opacity: .5;
        font-weight: normal;
    }

    .popupLinks a:hover {
        color: #3B95E5 !important;
    }

    .popupLinks i:hover {
        opacity: 1;
    }

.socials {
    padding: 15px 0px 0px 25px;
}

.popupProfileMenu {
    background-color: #3B95E5 !important;
    background-image: url(../../img/back_top.png),url(../../img/back_bottom.png);
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
    top: -10vh !important;
    z-index: 100;
    box-shadow: 0px 12px 35px -10px rgb(55 77 98 / 80%);
    border-radius: 25px;
    padding-top: 20px;
    border: 0px solid silver !important;
}

    .popupProfileMenu ul {
        padding: 0 1rem 0 1rem !important;
    }

    .popupProfileMenu a {
        color: #3B95E5;
    }

.popupMenu {
    background-color: #3B95E5 !important;
    background-image: url(../../img/back_top.png),url(../../img/back_bottom.png);
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
    left: 27% !important;
    z-index: 100;
    box-shadow: 0px 12px 35px -10px rgb(55 77 98 / 80%);
    border-radius: 25px;
    padding-top: 20px;
    border: 0px solid silver !important;
}

    .popupMenu ul {
        padding: 0 1rem 0 1rem !important;
    }

    .popupMenu a {
        color: #FFF;
    }
.popupSobre {
    background-color: #3B95E5 !important;
    background-image: url(../../img/back_top.png),url(../../img/back_bottom.png);
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
    z-index: 100;
    box-shadow: 0px 12px 35px -10px rgb(55 77 98 / 80%);
    border-radius: 25px;
    padding-top: 20px;
    border: 0px solid silver !important;
    width: 100vh;
}
.popupFotoUpload {
    background-color: #3B95E5 !important;
    background-image: url(../../img/back_top.png),url(../../img/back_bottom.png);
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
    z-index: 100;
    box-shadow: 0px 12px 35px -10px rgb(55 77 98 / 80%);
    border-radius: 25px;
    padding-top: 20px;
    border: 0px solid silver !important;
    width: 70vh;
    height: 50vh;
}
.popupTutorials {
    background-color: #3B95E5 !important;
    background-image: url(../../img/back_top.png);
    left: 75px !important;
    z-index: 100;
    box-shadow: 0px 12px 35px -10px rgb(55 77 98 / 80%);
    padding: 40px 40px 0px 50px;
    border: 0px solid silver !important;
    color: #fff !important;
    text-align: center;
    border-radius: 26px;
}
.tutorial_zero{
    width:200px;
}
.tutorial_multi {
    width:1000px;
}
    .popupTutorials i {
        font-size: 30px;
        line-height: 44px;
        opacity: 0.5;
    }

    .popupTutorials a i {
        color: #fff;
        font-size: 22px;
        right: -15px;
        top: -20px;
        position: relative;
        opacity: 1;
    }

    .popupTutorials a p {
        color: #fff;
        font-size: 12px;
        right: -15px;
        top: -20px;
        position: relative;
        opacity: 1;
    }
.popupAddContact {
    background-color: #3B95E5 !important;
    background-image: url(../../img/back_top.png);
    /*left: 75px !important;*/
    z-index: 100;
    box-shadow: 0px 12px 35px -10px rgb(55 77 98 / 80%);
    padding: 40px 40px 45px 50px;
    border: 0px solid silver !important;
    color: #fff !important;
    width: 100%;
    /*text-align: center;*/
    border-radius: 26px;
    background-repeat: no-repeat;
}
.popupInstantMsg {
    background-color: #3B95E5 !important;
    background-image: url(../../img/back_top.png);
    /*left: 75px !important;*/
    z-index: 100;
    box-shadow: 0px 12px 35px -10px rgb(55 77 98 / 80%);
    padding: 40px 40px 45px 50px;
    border: 0px solid silver !important;
    color: #fff !important;
    width: 1000px;
    text-align: center;
    border-radius: 26px;
    background-repeat: no-repeat;
}
    .popupInstantMsg .button i {
        color: #C8C8C8;
    }

    .popupInstantMsg .button:hover i {
        color: #fff;
    }

    .popupInstantMsg h3 {
        color: white !important;
    }
    .step {
        font-size: 24px;
        text-align: left;
    }

.step-descr {
    margin-top: 10px;
    text-align: left;
}

.popupDev {
    position: fixed !important;
    top: 10px !important;
    left: 15% !important;
}

.popupDev2 {
    position: fixed !important;
    top: 30% !important;
    left: 25% !important;
}
.popupValid {
    position: fixed !important;
    top: 10px !important;
    left: 20% !important;
    border-radius: 13px;
    box-shadow: 0 5px 22px rgb(0 0 0 / 34%);
}
.dxpcLite_COYOTE .dxpc-header, .dxdpLite_COYOTE .dxpc-header {
    color: #6DB0ED;
    font-size: 1.66em;
    padding: 7px 2px 7px 12px;
    white-space: nowrap;
    background-color: white;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}
.popupTopologia {
    position: fixed !important;
    top: 15% !important;
    left: 20% !important;
    box-shadow: 0px 12px 35px -15px rgb(41 54 66 / 84%);
    border-radius: 13px;
    border: 0px solid silver !important;
    margin-top: 5px;
}
.popupHelp .dxpc-content {
    padding: 0px;
}
.btn-using > .dxb {
    /*padding: 1px 1px 1px 1px !important;*/
    font-weight: 300 !important;
    font-size: 1.1rem !important;
    font-family: Calibri !important;
}
.ListDevExpress .dxeListBoxItem_Metropolis {
    font-size: 12pt !important;
}
/* BlueBall button */
.blueBall {
    background-image: url('../icons/help2.png');

}

.blueBallHottracked {
}

.blueBallPressed {
    background-image: url('../icons/help2Exit.png');
}

.FloatBtn {
    position: fixed;
    bottom: 7%;
    right: 5%;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dxeDropDownWindow_COYOTE {
    background-color: white;
    border: 1px solid transparent;
    border-radius: 0 0 13px 13px;
}
.dxlpLoadingPanelWithContent_COYOTE {
    width:25% !important;
    border-radius: 13px !important;
    box-shadow: 0px 12px 35px -15px rgb(55 77 98 / 42%)
}

/*-------BTN Topo---------*/



ul.btn-btx > li {
    display: inline;
    position:relative;
}

ul.btn-btx {
    display: flex;
    width: auto;
    margin-left: auto;
    margin-right: 0;
}

    ul.btn-btx.right {
        float: right;
        /*margin-top: 8%;*/
        margin-bottom: 0;
        margin-right: 3.5%;
    }
    ul.btn-btx > li > a {
        /*    max-width: 5%;
    width: 5%;*/
        height: 55px;
        display: flex;
        background-color: transparent;
        font-size: 12pt !important;
        color: #959595 !important;
        border: 1px solid #c8c8c8;
        border-radius: 13px;
        padding: 1.3rem;
        margin: 5px 20px 5px 10px;
        text-decoration: none;
    }
    ul.btn-btx > li > a > label:hover {
        color:#fff;
    }
        ul.btn-btx > li > a.cursor-not {
            color: #c8c8c8 !important;
        }
        ul.btn-btx > li > a:hover:not(.cursor-not) {
            color: #fff !important;
            background: #6DB0ED !important;
            border: 1px solid #6DB0ED;
            box-shadow: 0px 4px 16px 0 rgb(0 0 0 / 16%);
        }
    ul.btn-btx > li > .dxbButton_COYOTE {
        /*    max-width: 5%;
    width: 5%;*/
        height: 55px;
        display: flex;
        background-color: transparent;
        font-size: 12pt !important;
        color: #959595 !important;
        border: 1px solid #c8c8c8;
        border-radius: 13px;
        padding: 1rem;
        margin: 5px 20px 5px 10px;
    }
        ul.btn-btx > li > .dxbButton_COYOTE.delete {
            color: #DC6B6B !important;
        }
            ul.btn-btx > li > .dxbButton_COYOTE.delete:hover:not(.cursor-not) {
                color: #fff !important;
                background: #DC6B6B !important;
                border: 1px solid #6DB0ED;
                box-shadow: 0px 4px 16px 0 rgb(0 0 0 / 16%);
            }
        ul.btn-btx > li > .dxbButton_COYOTE.cursor-not {
            color: #c8c8c8 !important;
        }

        ul.btn-btx > li > .dxbButton_COYOTE:hover:not(.cursor-not) {
            color: #fff !important;
            background: #6DB0ED !important;
            border: 1px solid #6DB0ED;
            box-shadow: 0px 4px 16px 0 rgb(0 0 0 / 16%);
        }
    ul.btn-btx > li > a.tutorial {
        color: #3B95E5 !important;
    }
        ul.btn-btx > li > a.tutorial.delete {
            color: #DC6B6B !important;
        }
        ul.btn-btx > li > a.tutorial.delete:hover {
            background-color: #DC6B6B !important;
            color:#fff !important;
        }

.dxbButton_COYOTE i {
    font-size: 12pt;
    line-height: 5px;
}
    .dxbButton_COYOTE i.fa-trash-alt {
        color: #DC6B6B;
    }
        /*.dxbButton_COYOTE i.fa-trash-alt:hover {
            color: #fff;
        }*/
    .dxbButton_COYOTE div.dxb {
        padding: 1px 4px 0px 4px;
    }

/*----------------Para telas de até 768px de altura na resolução-----------------*/
@media only screen and (max-height: 768px) {
    .dxeDisabled_COYOTE input[type="text"].dxeEditAreaSys {
        font-size: 10pt !important;
    }

    input[type="text"].dxeEditAreaSys {
        font-size: 10pt !important;
        height: 5.3vh !important;
    }

    .popupProfileMenu {
        top: 1vh !important;
    }

    .popupPes {
        left: 0 !important;
        /*left: 12% !important;*/
        /*width: 26vh;*/
        width: fit-content;
    }
}

/*-------------------Para telas de até 1024px de largura na resolução---------------------*/
@media only screen and (max-width: 1024px) {

    .dxeDisabled_COYOTE input[type="text"].dxeEditAreaSys {
        font-size: 10pt !important;
    }

    input[type="text"].dxeEditAreaSys {
        font-size: 10pt !important;
    }

    .popupPes {
        left: 0% !important;
        width: 23vh;
    }

    .popupTutorials {
        padding: 30px 30px 0px 40px;
        left: 10px !important;
    }
}
input[type="password"].dxeEditArea_COYOTE{
    height:5vh;
}
.dxeErrorCell_COYOTE {
    padding-right: 0px !important;
    padding-left: 0px !important;
    position: absolute;
    top: 25%;
}